{% extends 'C:\Users\davla\PycharmProjects\Diploma\diploma\templates\base.html'%}

{% block title %}
add_recipe
{% endblock %}

{% block header %}
{{block.super}}
{% endblock %}

{% block navigation %}
    {{block.super}}
{% endblock  %}


{% block content %}
<h2 class="text-center">Добавить рецепт</h2>
    <form method="post" enctype="multipart/form-data" class="text-center">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Добавить</button>
    </form>
{% endblock %}