{% extends 'C:\Users\davla\PycharmProjects\Diploma\diploma\templates\base.html' %}
{% load static %}

{% block title %}
lenta
{% endblock %}

{% block header %}
{{ block.super }}
{% endblock %}

{% block navigation %}
    {{ block.super }}
{% endblock %}


{% block content %}
  <h1 class="text-center">Мои рецепты</h1>

  <div class="text-center">
    <a href="/add_recipe" class="btn btn-primary">Добавить новый рецепт</a>
  </div>

  <h2 class="mt-4">Мои рецепты</h2>

  <ul class="list-group">
    {% for recipe in recipes %}
      <li class="list-group-item">
        <h4>{{ recipe.title }}</h4>
        <p>{{ recipe.description }}</p>
        <a href="{% url 'edit_recipe' recipe.id %}" class="btn btn-warning btn-sm">Редактировать</a>
        <a href="{% url 'delete_recipe' recipe.id %}" class="btn btn-danger btn-sm">Удалить</a>
      </li>
    {% empty %}
      <p>У вас нет рецептов. Добавьте новый!</p>
    {% endfor %}
  </ul>
{% endblock %}