{% extends 'base.html' %}

{% block title %}
Мои избранные рецепты
{% endblock %}

{% block content %}
<div class="container" style="margin-top: 20px;">
    <h1 class="text-center">Избранные рецепты</h1>
    <style>
        .img-thumbnail {
            max-width: 500px;  /* Ограничиваем ширину изображения */
            max-height: 400px; /* Ограничиваем высоту изображения */
            object-fit: cover; /* Сохраняем пропорции изображения */
        }
    </style>

    {% if selected_recipe %}
        <ul class="text-center" style="list-style-type: none;">
            {% for recipe in selected_recipe %}
                <li>
                    <h5>{{ recipe.title }}</h5>
                    <img src="{{ recipe.image.url }}" alt="{{ recipe.title }}" class="img-thumbnail">
                    <p>{{ recipe.description }}</p>
                    <p>{{ recipe.ingredients }}</p>
                    <p>{{ recipe.instructions }}</p>
                    <p>{{ recipe.user }}</p>
                    <small class="text-muted">Добавлен: {{ recipe.created_at|date:"d.m.Y H:i" }}</small>

                    <!-- Кнопка "Удалить из избранного" -->
                    <form method="post" action="{% url 'remove_favorites' recipe.id %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">Удалить из избранного</button>
                    </form>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p class="text-center">Вы ещё не добавили рецепты в избранное.</p>
    {% endif %}
</div>
{% endblock %}